Database/PostgreSql/Core.Web/obj/
Database/PostgreSql/Core.Web/bin/
Database/PostgreSql/Core.Domain/obj/
Database/PostgreSql/Core.Domain/bin/
Database/PostgreSql/Core.Database/obj/
Database/PostgreSql/Core.Database/bin/
